pre {
  white-space: pre;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  background-color: rgb(249,252,246);
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  margin: 0 0 1em 0;
}

pre:before {
  display: block;
  border-bottom: 1px solid rgb(240,240,240);
  padding: 0 0 0.2em 0;
  font-family: 'Voltaire', 'Arial';
  font-weight: bold;
  margin-bottom: 1em;
  color: #444;
}

pre.lang-html:before {
  content: 'template';
}

pre.lang-js:before {
  content: 'code';
}

.prettyprinted {
  color: #444;
}

.prettyprint .pln { color: #444; }
.prettyprint .pun { color: #888; }
.prettyprint .str { color: #729d34; }
.prettyprint .kwd { color: rgb(0,0,100); }
.prettyprint .typ { color: rgb(0,0,100); }
.prettyprint .tag { color: rgb(0,0,100); }
.prettyprint .atn { color: rgb(80,80,180) }
.prettyprint .atv { color: #729d34 }
.prettyprint .lit { color: rgb(150,0,0) }
.prettyprint .com { color: #aaa }

.prettyprint.lang-js .pun {
  color: #444;
}